@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #0C0511;
}

.texto {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.texto-r {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.canvas {
    width: 100vw;
    height: 100vh;
}