@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #0C0511;
}

.texto {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.texto-r {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.canvas {
    width: 100vw;
    height: 100vh;
}

.gravityButton {
    transition: transform 0.3s, opacity 0.3s;
    /*variables from GravityButton components */
    transform: translate(var(--tx, 0), var(--ty, 0));
    opacity: var(--opacity, 0.25);
}